.footer{
    background-color: rgb(250, 202, 240);
    width: 100%;
    color: gray;
    display: flex;
    padding: 0 20px;
    box-sizing: border-box;
    gap: 20px;
    justify-content: center;
}   

nav button{
    margin-left: 10px;
}